/**** Utils/Base/Objects ****/
.app-btn {
  border: 4px solid black;
  background: none;
  padding: 8px;
  font-weight: 700;
  font-size: 16px;
}

button.clear {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.hover-show > .hover-action {
  display: none;
}

.hover-show:hover > .hover-action {
  display: initial;
}

.contrast-hover:hover {
  background-color: #000;
  color: #fff;
}

/***************************/

header {
  padding: 8px 32px;
}

main {
  padding: 0 32px;
}

.board-list {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-list > .board-item {
  border: 2px solid black;
  text-align: center;
  margin-bottom: 4px;
  padding: 8px 16px;
}

.board-title .edittable-title {
  display: flex;
}

.boards-container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.board-column {
  border: 6px solid black;
  padding: 0 8px 16px;
  min-width: 200px;
  text-align: center;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.board-column > .column-body {
  flex: 1;
}

.board-column > .column-footer {
  font-weight: 700;
  font-size: 20px;
}

.board-column > .column-footer > .action {
  cursor: pointer;
}

.card-container {
  border: 4px solid black;
  padding: 32px 64px;
}

.card-container .card-title,
.card-container .card-title h3 {
  margin: 0;
  padding: 0;
}

.card-container button {
  cursor: pointer;
  background: none;
  border: none;
}

.card {
  margin-bottom: 16px;
}

.card:last-child {
  margin-bottom: 0;
}
